.section_produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 60px;
    h1{
        font-size: 20px;
    }
}