.menu_container{
    background-color: #2F343A;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2%;
    padding: 24px;
    padding-left: 32px;
    padding-right: 32px;
    z-index: 1002;
    transition: 500ms;
    
}

.menu_nav{
    display: flex;
    align-items: center; 
    flex-direction: column;
    gap: 24px;

    a{
        color: white;
        text-decoration: none;
    }
    ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        li{
            display: block;
            color: white;
            border-bottom: 1px solid;
            font-weight: 400;
            padding-bottom: 12px;
        }
        li:hover{
            a{
                color: #DAFF01;
            }
        }
    }
}
.login_sign{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.signin{
    padding: 8px;
    width: 120px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

.login_container{
    display: flex;
    align-items: center;
    gap: 12px;
}

.login{
    padding: 8px;
     width: 120px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: #9353FF;
    border: 1px solid #9353FF;
    color: white;
}

@media(min-width: 1024px){
    .menu_container{
        display: none;
        
    }
}