.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}

.receiver{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 2px solid black;
    padding: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    p{
        font-weight: 400;
        font-size: 16px;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input{
        width: 60%;
        padding: 8px;
        border: 1px solid;
        border-right: none;
    }
    button{
        padding: 8px;
        padding-left: 12px;
        padding-right: 12px;
        border: 1px solid #9353FF;
        background-color: #9353FF;
        color: white;
    }
}
@media(max-width: 768px){
    .receiver{
        width: 65%;
    }
}