.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #ffffff;
    padding: 32px;
    padding-top: 44px;
    gap: 12px;
    margin-bottom: 32px;
    h1{
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.vantagens{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    h5{
        font-size: 12px;
        color: #DAFF01;
    }
    p{
        font-size: 8px;
        width: 100px;
    }
}

.vantagem{
    display: flex;
    align-items: center;
    gap: 12px;
    div{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}