.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    margin-bottom: 24px;
}
.categoria{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.categoria_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: white;
    background-color: black;
    
    padding-bottom:8px ;
}