.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 16px;
    color: white;
    font-weight: 300;
    font-size: 12px;
    margin-top: 60px;
}