.banner_container{
    z-index: -1;
   display: flex;
    align-items: center;
    width: 100%;
    img{
        width: 100%;
        height: auto;
        margin: none;
        position: relative;
        bottom: 12px;
        z-index: 1;
        transition: 500ms;
    }
}
.button_right{
    right: 2%;
    
}

.button_left{
    left: 2%;

}

.button_left, .button_right{
    z-index: 10;
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: aliceblue;
    cursor: pointer;

}
.indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    gap: 8px;
    position: absolute;
    margin-left: 45%;
    z-index: 10002;
}

.indicator,
.active_indicator {
    width: 24px;
    height: 4px;
    border-radius: 10%;
    background-color: #303030;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active_indicator {
    background-color: #ffffff; /* ou outra cor de destaque */
}